p, h1, h2 {
    font-family: 'Work Sans';
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    color: #333333;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}

header {
    display: flex;
    flex-wrap: nowrap;
}

header > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

header {
    margin-left: 15%;
    position: fixed;
}

.header-font {
    margin-left: 5%;
}

.logo-header {
    margin-left: -150px;
}

.content {
    margin-left: 212px;
    display: flex;
    gap: 450px;
}

.img-men {
    height: 90vh;
    width: 450px;
    margin-top: 50px;
    margin-left: 90px;
}

.content-text {
    margin-top: 150px;
}

.slogan {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 60px;
}

.setup-acc {
    box-shadow: 0px 0px 10px #B7B7B7;
    border-radius: 0px;
    width: 288px;
    height: 327px;
    margin-left: 195px;
    border-top: #582EFF 10px solid;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}

.apply-loan {
    box-shadow: 0px 0px 10px #B7B7B7;
    border-radius: 0px;
    width: 288px;
    height: 327px;
    margin-left: 195px;
    border-top: #FF814A 10px solid;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}

.get-yr-cash {
    box-shadow: 0px 0px 10px #B7B7B7;
    border-radius: 0px;
    width: 288px;
    height: 327px;
    margin-left: 195px;
    border-top: #31C5A1 10px solid;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}

.smartPhone-img {
    width: 53px;
    height: 60px;
    margin-left: 40%;
    margin-top: 15px;
}

.loan-img {
    width: 53px;
    height: 60px;
    margin-left: 40%;
    margin-top: 15px;
}

.getCash-img {
    width: 53px;
    height: 60px;
    margin-left: 40%;
    margin-top: 15px;
}

.setup-acc p {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    text-align: center;
}

.apply-loan p {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    text-align: center;
}

.get-yr-cash p {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    text-align: center;
}

.setup-acc {
    margin-top: -120px;
}

.download-font {
    margin-top: 25px;
}

.boxes {
    display: flex;
    margin-top: 300px;
}

.apply-loan {
    margin-top: -120px;
    margin-left: 90px;
}

.get-yr-cash {
    margin-top: -120px;
    margin-left: 90px;
}

.under-content {
    margin-top: 90px;
    width: 1900px;
    height: 370px;
    background: #31C5A1;
    border-radius: 0px;
    position: absolute;
    left: 0px;
}

.under-content p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    /* identical to box height, or 117% */

    text-align: center;

    color: #FFFFFF;
    margin-top: 100px;
}

.img-content {
    margin-left: 43%;
}
